.field-style{
    border: 1px solid gray;
    border-radius: 3px;
}
.form-section{
    box-shadow: 0px 0px 4px -1px;
    border-radius: 5px;
    margin: 10px 20px;
    width: 550px;
    height: 230px;
    
}
.home-img{
    width: 460px;
    height: 320px;
}
@keyframes busMove {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-bus-move {
    animation: busMove 5s linear infinite; /* Adjust the duration as needed */
  }
  