.login-section{
    box-shadow: 0px 0px 4px -1px;
}

.loginPhoto{
    width: 580px;
    height: 450px;
    object-fit: contain;
    animation: move 4s infinite ease alternate;
}
.loginIcon{
    background-color: #103B3B !important;
    
}
@keyframes move{
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(0px) scale(1.03);
    }
}